<template>
  <div style="padding:100px 200px;">
    <h4>Create House Information:</h4>
    <form onSubmit="return false">
      <div class="form-group">
        <label for="address">Address</label>
        <input
          v-model="address"
          type="text"
          class="form-control"
          id="address"
          placeholder="1234 Main St"
        >
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="rooms">Room Number</label>
          <input
            v-model="number"
            type="number"
            class="form-control"
            id="rooms"
          >
        </div>
        <div class="form-group col-md-2">
          <label for="price">Price /$</label>
          <input
            v-model="price"
            type="number"
            class="form-control"
            id="price"
          >
        </div>
        <!-- <div class="form-group col-md-6">
          <label for="owner">Onwer</label>
          <input
            v-model="house.houseOwner"
            type="text"
            class="form-control"
            id="owner"
          >
        </div> -->
      </div>
      <Google :setAddress="setAddress" />
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        @click="createHouseInfo ()"
      >Create</button>
    </form>
    <div
      style="margin-top:10px"
      v-if="message"
      class="alert alert-success"
    >
      <strong>{{this.message}}</strong>
    </div>
    <div
      style="margin-top:10px"
      v-if="errorMessage"
      class="alert alert-danger"
    >
      <strong>{{this.errorMessage}}</strong>
    </div>
  </div>
</template>

<script>
import Google from './GoogleMap'
export default {
  name: 'CreateHouseInfo',
  components: {
    Google
  },
  data () {
    return {
      price: '',
      number: '',
      address: '',
      message: null,
      errorMessage: null
    }
  },
  created () {
  },
  methods: {
    setAddress (place) {
      this.address = place.formatted_address
    },
    createHouseInfo (houseId) {
      if (typeof localStorage.auth === 'undefined') {
        this.errorMessage = 'need login'
        this.message = null
        return
      }
      if (this.price === '' || this.address === '' || this.number === '') {
        return
      }
      let user = JSON.parse(localStorage.user)
      console.log(user)
      this.$http.post(`/renting`, {
        number: this.number,
        price: this.price,
        address: this.address,
        houseOwner: user.data.houseOwnerName })
        .then(res => {
          console.log(res)
          this.message = res.data.message
          this.errorMessage = null
        })
    }
  }

}
</script>

<style scoped>
</style>
