<template>
  <div style="padding:100px 200px;">
    <h4>Update House Information: {{house._id}}</h4>
    <form onSubmit="return false">
      <div class="form-group">
        <label for="address">Address</label>
        <input
          v-model="house.address"
          type="text"
          class="form-control"
          id="address"
          placeholder="1234 Main St"
        >
      </div>
      <!-- <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          placeholder="Apartment, studio, or floor"
        >
      </div> -->
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="rooms">Room Number</label>
          <input
            v-model="house.number"
            type="number"
            class="form-control"
            id="rooms"
          >
        </div>
        <div class="form-group col-md-2">
          <label for="price">Price /$</label>
          <input
            v-model="house.price"
            type="number"
            class="form-control"
            id="price"
          >
        </div>
        <div class="form-group col-md-6">
          <label for="owner">Owner</label>
          <input
            v-model="house.houseOwner"
            type="text"
            class="form-control"
            id="owner"
          >
        </div>
      </div>
      <Google :setAddress="setAddress" />
      <br />
      <button
        type="submit"
        class="btn btn-primary"
        @click="updateHouseInfo (house._id)"
      >Update</button>
    </form>
    <div
      style="margin-top:10px"
      v-if="message"
      class="alert alert-success"
    >
      <strong>{{this.message}}</strong>
    </div>
  </div>
</template>

<script>
import Google from './GoogleMap'

export default {
  name: 'EditHouseInfo',
  components: {
    Google
  },
  data () {
    return {
      houseid: '',
      house: {},
      message: null
    }
  },
  created () {
    // this.$router.currentRouter
    this.getHouseInfo()
  },
  methods: {
    setAddress (place) {
      this.house.address = place.formatted_address
    },
    getHouseInfo () {
      this.houseid = this.$route.params.houseid
      this.$http(`/rentingId/${this.houseid}`)
        .then(res => {
          console.log(res.data)
          this.house = res.data
        })
    },
    updateHouseInfo (houseId) {
      this.$http.put(`/renting/${houseId}`, {
        number: this.house.number,
        price: this.house.price,
        address: this.house.address,
        houseOwner: this.house.houseOwner })
        .then(res => {
          console.log(res)
          this.message = res.data
        })
    }
  }

}
</script>

<style scoped>
</style>
