<template>
  <div>
    <label>
      Find address:
      <GmapAutocomplete @place_changed="setPlace">
      </GmapAutocomplete>
      <!-- <button @click="usePlace">Add</button> -->
    </label>
    <br />

    <GmapMap
      style="width: 600px; height: 300px;"
      :zoom="zoom"
      :center="center"
    >
      <!-- <GmapMarker
        v-for="(marker, index) in markers"
        :key="index"
        :position="marker.position"
      /> -->
      <GmapMarker
        v-if="this.place"
        label="★"
        :position="{
          lat: this.place.geometry.location.lat(),
          lng: this.place.geometry.location.lng(),
        }"
      />
    </GmapMap>
  </div>
</template>

<script>

export default {
  name: 'GoogleMap',
  props: {
    setAddress: {
      type: Function
    }
  },
  data () {
    return {
      markers: [],
      place: null,
      center: { lat: 0, lng: 0 },
      zoom: 1
    }
  },
  description: 'Autocomplete Example (#164)',
  methods: {
    setDescription (description) {
      this.description = description
    },
    setPlace (place) {
      this.place = place
      this.center.lat = place.geometry.location.lat()
      this.center.lng = place.geometry.location.lng()
      this.zoom = 15
      console.log(this.setAddress)
      this.setAddress(place)
      console.log(this.place)
    },
    usePlace (place) {
      if (this.place) {
        this.markers.push({
          position: {
            lat: this.place.geometry.location.lat(),
            lng: this.place.geometry.location.lng()
          }
        })
        this.place = null
      }
    }
  }
}
</script>
