<template>
  <div style="padding:100px;">
    <h1>Rental Information System</h1>
  </div>
</template>

<script>
import Google from './GoogleMap'
export default {
  name: 'Home',
  components: {
    Google
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
