<template>
  <div style="padding:100px;">
    <div class="card text-center">
      <div class="card-header">
        House Id: {{houseid}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Owner: {{house.houseOwner}}</h5>
        <p class="card-text">Address: {{house.address}}</p>
        <p class="card-text">Room Number: {{house.number}}</p>
        <p class="card-text">Price: {{house.price}}</p>
        <!-- <a
          href="#"
          class="btn btn-primary"
        > Price: {{house.price}}</a> -->
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: 'houseInfo',
  components: {
  },
  data () {
    return {
      houseid: '',
      house: {}
    }
  },
  created () {
    // this.$router.currentRouter
    this.getHouseInfo()
  },
  methods: {
    getHouseInfo () {
      this.houseid = this.$route.params.houseid
      this.$http(`/rentingId/${this.houseid}`)
        .then(res => {
          console.log(res.data)
          this.house = res.data
        })
    }
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
