<template>
  <div style="padding:100px 200px;">
    <form>
      <div class="form-group">
        <label for="email">Username</label>
        <input
          v-model="username"
          type="username"
          class="form-control"
          id="username"
          placeholder="Username"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        >
      </div>
      <button
        id='login'
        @click="login"
        class="btn btn-primary"
      >Login</button>
      <div
        style="margin-top:10px"
        v-if="errorMessage"
        class="alert alert-danger"
      >
        <strong>{{this.errorMessage}}</strong>
      </div>
    </form>
  </div>
</template>

<script>
import bus from '../../utils/bus'
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: '',
      errorMessage: null
    }
  },
  methods: {
    login () {
      this.$http.post('/users/signin', { username: this.username, password: this.password })
        .then(res => {
          console.log(res)
          if (!res.data.success) {
            this.errorMessage = res.data.msg
          } else {
            console.log(res.data)
            bus.$emit('login', { data: res.data.user })
            this.$router.push('/')
          }
        })
    }
  }
}
</script>

<style>
</style>
