<template>
  <div style="padding:100px 200px;">
    <h4>Username: {{user.houseOwnerName}}</h4>
    <h5>ID: {{user._id}}</h5>
    <form>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="email">Email</label>
          <input
            v-model="user.email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          >
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="phone">Phone Number</label>
          <input
            v-model="user.telephone"
            type="number"
            class="form-control"
            id="phone"
          >
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        @click="updateUserInfo ()"
      >Update</button>
    </form>
    <div
      style="margin-top:10px"
      v-if="message"
      class="alert alert-success"
    >
      <strong>{{this.message}}</strong>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MyInfo',
  components: {
  },
  data () {
    return {
      user: {},
      message: null
    }
  },
  created () {
    if (localStorage.auth) {
      console.log(JSON.parse(localStorage.user))
      this.user = JSON.parse(localStorage.user).data
    }
  },
  methods: {
    updateUserInfo () {
      this.$http.put(`/rentingHouseOwner/${this.user.houseOwnerName}`,
        { telephone: this.user.telephone, email: this.user.email })
        .then(res => {
          console.log(res.data)
          if (res.data.success) {
            this.message = res.data.message
          }
        })
    }
  }
}
</script>

<style scoped>
</style>
