<template>
  <div style="padding:100px;">
    <div>
      <!-- <div class="card-deck"> -->
      <div
        class="card"
        v-for="owner in data"
        :key="owner._id"
      >
        <div class="card-body">
          <h5 class="card-title">{{owner.houseOwnerName}}</h5>
          <p class="card-text">Email: {{owner.email}}</p>
          <p class="card-text">Phone: {{owner.telephone}}</p>
          <p class="card-text"><small class="text-muted">Id: {{owner._id}}</small></p>
        </div>
      </div>
      <!-- </div> -->
    </div>
    <!-- <paginate
      :pageCount="pageCount"
      :containerClass="'pagination'"
      :clickHandler="clickCallback"
      :page-class="'page-item'"
      :page-link-class="'page-link'"
      :prev-link-class="'page-link'"
      :next-link-class="'page-link'"
    >
    </paginate> -->
  </div>
</template>

<script>
export default {
  name: 'Owners',
  components: {
  },
  data () {
    return {
      data: [],
      currentPageItems: [],
      pageCount: 0,
      pageItem: 8,
      searchAdress: '',
      searchOwner: '',
      searchRoom: '',
      searchPrice: '',
      records: 0
    }
  },
  created () {
    this.getOwners()
  },
  methods: {
    getOwners () {
      this.$http.get('/rentingHouseOwner')
        .then(res => {
          console.log(res.data)
          this.data = res.data
        })
    }
  }
}
</script>

<style scoped>
.card {
  width: 250px;
  float: left;
  margin: 10px;
}
</style>
