<template>
  <div style="padding:100px 200px;">
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          v-model="email"
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Email"
        >
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          v-model="username"
          type="text"
          class="form-control"
          id="Username"
          placeholder="Username"
        >
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          v-model="phone"
          type="tel"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          class="form-control"
          id="phone"
          placeholder="Format: 123-456-7890"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          v-model="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        >
      </div>
      <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
          v-model="password2"
          type="password"
          class="form-control"
          id="password2"
          placeholder="Confirm Password"
        >
      </div>
      <button
        @click="register ()"
        type="submit"
        class="btn btn-primary"
      >Register</button>
    </form>
    <div
      style="margin-top:10px"
      v-if="message"
      class="alert alert-danger"
    >
      <strong>{{this.message}}</strong>
    </div>
  </div>
</template>

<script>
import bus from '../../utils/bus'
export default {
  name: 'register',
  data () {
    return {
      email: '',
      password: '',
      password2: '',
      phone: '',
      username: '',
      message: null
    }
  },
  methods: {
    register () {
      if (this.password !== this.password2) {
        this.message = 'Password do not match!!!'
        return
      }
      this.$http.post('/users/signup', { email: this.email, username: this.username, phone: this.phone, password: this.password })
        .then(res => {
          console.log(res)
          if (!res.data.success) {
            this.message = res.data.message
          } else {
            bus.$emit('login', { data: res.data.user })
            this.$router.push('/')
          }
        })
    }
  }
}
</script>

<style>
</style>
