<template>
  <div style="padding:100px;">
    <h2>Houses List</h2>
    <div>
      <table class="table table-striped">
        <caption>{{records}} records</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Address</th>
            <th scope="col">Owner</th>
            <th scope="col">Room</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td>
              <div class="col-xs-2"><input
                  id="address"
                  class="filter"
                  placeholder="Filter by address"
                  v-model="searchAdress"
                /></div>
            </td>
            <td>
              <div class="col-xs-2"><input
                  id="owner"
                  class="filter"
                  placeholder="Filter by owner"
                  v-model="searchOwner"
                /></div>
            </td>
            <td>
              <div class="col-xs-2"><input
                  id="room"
                  class="filter"
                  placeholder="Filter by room"
                  v-model="searchRoom"
                /></div>
            </td>
            <td>
              <div class="col-xs-2"><input
                  id="price"
                  class="filter"
                  placeholder="Filter by price"
                  v-model="searchPrice"
                /></div>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
          <tr
            v-for="house in currentPageItems "
            :key="house._id"
          >
            <th
              scope="row"
              @click="viewDetail(house._id)"
            ><a>{{house._id}}</a></th>
            <td>{{house.address}}</td>
            <td>{{house.houseOwner}}</td>
            <td>{{house.number}}</td>
            <td>${{house.price}}</td>
            <td><button
                v-if="user.houseOwnerName === house.houseOwner"
                class="btn btn-outline-secondary btn-sm"
                @click="edit(house._id)"
              >Edit</button></td>
            <td><button
                v-if="user.houseOwnerName === house.houseOwner"
                class="btn btn-outline-danger  btn-sm"
                @click="Delete(house._id)"
              >Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <paginate
      :pageCount="pageCount"
      :containerClass="'pagination'"
      :clickHandler="clickCallback"
      :page-class="'page-item'"
      :page-link-class="'page-link'"
      :prev-link-class="'page-link'"
      :next-link-class="'page-link'"
    >
    </paginate>
  </div>
</template>

<script>
import Google from './GoogleMap'
export default {
  name: 'Renting',
  components: {
    Google
  },
  data () {
    return {
      data: [],
      currentPageItems: [],
      pageCount: 0,
      pageItem: 8,
      searchAdress: '',
      searchOwner: '',
      searchRoom: '',
      searchPrice: '',
      records: 0,
      user: {}
    }
  },
  created () {
    if (localStorage.auth) {
      this.user = JSON.parse(localStorage.user).data
    }
    this.getRenting()
  },
  watch: {
    searchAdress: function (newVal, oldVal) {
      this.update()
    },
    searchOwner: function (newVal, oldVal) {
      this.update()
    },
    searchRoom: function (newVal, oldVal) {
      this.update()
    },
    searchPrice: function (newVal, oldVal) {
      this.update()
    }
  },
  methods: {
    getRenting () {
      this.$http.get('/renting')
        .then(res => {
          console.log(res.data)
          this.data = res.data
          this.pageCount = res.data.length / this.pageItem
          this.currentPageItems = this.data.slice(0, this.pageItem)
          this.records = this.data.length
        })
    },
    clickCallback (page) {
      this.currentPageItems = this.data.slice((page - 1) * this.pageItem, page * this.pageItem)
    },
    update () {
      this.currentPageItems = [...this.data]
      if (this.searchAdress !== '') {
        this.currentPageItems = this.currentPageItems.filter(elem => {
          return elem.address.toLowerCase().indexOf(this.searchAdress.toLowerCase()) > -1
        })
      }
      if (this.searchOwner !== '') {
        this.currentPageItems = this.data.filter(elem => {
          return elem.houseOwner.toLowerCase().indexOf(this.searchOwner.toLowerCase()) > -1
        })
      }
      if (this.searchRoom !== '') {
        this.currentPageItems = this.currentPageItems.filter(elem => {
          return elem.number === this.searchRoom
        })
      }
      if (this.searchPrice !== '') {
        this.currentPageItems = this.currentPageItems.filter(elem => {
          return elem.price.toLowerCase().indexOf(this.searchPrice.toLowerCase()) > -1
        })
      }
      this.records = this.currentPageItems.length
      this.pageCount = this.currentPageItems.length / this.pageItem
      this.currentPageItems = this.currentPageItems.slice(0, this.pageItem)
      console.log(this.currentPageItems)
    },
    viewDetail (houseId) {
      console.log(houseId)
      this.$router.push('/houseinfo')
      this.$route.params.houseid = houseId
    },
    edit (houseId) {
      console.log(houseId)
      this.$router.push('/edithouseinfo')
      this.$route.params.houseid = houseId
    },
    Delete (houseId) {
      this.$http.delete(`/renting/${houseId}`).then(res => {
        // console.log(res.data)
        // this.$forceUpdate()
        this.data = this.data.filter(elem => {
          return elem._id !== houseId
        })
        this.update()
      })
    }

  }

}
</script>

<style scoped>
.filter {
  width: 80%;
  font-size: 12px;
}
</style>
