<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a
        class="navbar-brand"
        href="#"
      >RIS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav mr-auto my-2 my-lg-0">
          <li
            class="nav-item"
            v-bind:key="routes.id"
            v-for="routes in links"
          >
            <router-link
              class="nav-link"
              :to="`${routes.page}`"
            >{{routes.text}}</router-link>
          </li>
          <router-link
            v-if="auth"
            class="nav-link"
            :to="`createHouseInfo`"
          >Create</router-link>
          <router-link
            v-if="auth"
            class="nav-link"
            :to="`myinfo`"
          >Profile</router-link>
        </ul>
        <router-link
          v-if="!auth"
          id="signin"
          class="nav-link"
          :to="`signin`"
        >Sign in</router-link>
        <router-link
          v-if="!auth"
          id="signup"
          class="nav-link"
          :to="`signup`"
        >Sign up</router-link>
        <a
          v-if="auth"
          id="logout"
          @click="logout ()"
          class="nav-link"
        >{{user.houseOwnerName}}, Logout</a>
      </div>
    </nav>
    <nav>

    </nav>
  </div>
</template>

<script>
import bus from '../utils/bus'
export default {
  name: 'NavBar',
  data () {
    return {
      links: [
        {
          id: 1,
          text: 'Home',
          page: '/'
        },
        {
          id: 2,
          text: 'HouseInfo',
          page: '/houses'
        },
        {
          id: 3,
          text: 'Owners',
          page: '/owners'
        }
      ],
      auth: false
    }
  },
  created () {
    this.auth = localStorage.auth
    console.log(this.auth)
    if (this.auth) {
      this.user = JSON.parse(localStorage.user).data
    }
    bus.$on('login', (data) => {
      console.log(data)
      this.user = data.data
      localStorage.user = JSON.stringify(data)
      localStorage.auth = true
      this.auth = true
    })
  },
  methods: {
    logout () {
      delete localStorage.auth
      delete localStorage.user
      this.auth = false
      this.$router.push('/')
    }
  }
}
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #929292;
  text-decoration: none;
}
.router-link-exact-active {
  color: black;
  font-weight: bold;
}
</style>
